.goal{
    padding: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    flex-grow: 1;
    .goal-text{
        padding-bottom: 1rem;
        padding-left: 3.06rem;
        padding-right: 3.06rem;
        color: #131313;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem ;
        letter-spacing: -0.2px;
    }

      .footer{
        display: flex;
        align-items: center;
        padding-top: 2.3rem;
        gap:4px;
        p{
            color:#734A00;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1rem;
            letter-spacing: -0.3px;
        }
      }
      .progress{
        position: relative;
        margin: 4px;
        float:left;
        text-align: center;
      }
      .barOverflow{ /* Wraps the rotating .bar */
        position: relative;
        width: 180px; height: 90px; /* Half circle (overflow) */
        margin-bottom: -14px; /* bring the numbers up */
        overflow: hidden;
      }
      .bar{
        position: absolute;
        top: 0; left: 0;
        width: 180px; height: 180px; /* full circle! */
        border-radius: 50%;
        box-sizing: border-box;
        border: 10px solid #ccc;     /* half gray, */
        border-bottom-color: #0bf;  /* half azure */
        border-right-color: #0bf;
      }
  svg{
    position: 'absolute';
    top: '0';
    left: '0'; 
    width: '100%';
    height: '100%';
  }
}