

.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}

.stretch{
  align-items: stretch;
}
.flex-col{
  flex-direction: column;
}
.w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}

.inline-block{
  display: inline-block;
}

.flex-col{
  flex-direction: column;
}

p{
  margin: 0;
}
.app{
  gap:1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
